{% extends "ayyppahotel.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<main>
    <section id="services">
        <h2>Services</h2>
        <ul>
        <li><strong>Dine-In:</strong> Join us in our cozy and inviting dining room, and enjoy a leisurely breakfast with friends and family.</li>
        <li><strong>Take-Out:</strong> In a hurry? No problem! Our dishes are also available for take-out, so you can enjoy our delicious food wherever you go.</li>
        <li><strong>Catering:</strong> Let us cater your next event or special occasion! We offer a variety of options to suit your needs and budget, and our experienced team will ensure that everything runs smoothly from start to finish.</li>
        </ul>
    </section>
</main>
<footer>
    <p>Copyright © 2023 Ayyappa Hotel</p>
</footer>
{% endblock %}